<html>
  <body>
    <body background="https://www.solidbackgrounds.com/images/2560x1440/2560x1440-ghost-white-solid-color-background.jpg">
    <div>
    <h1 align="center" style="font-size:75px;cursor:pointer; font-family: "https://fonts.googleapis.com/css?family=Cinzel";"> ABOUT ME </h1>
    <p align="center" style="font-size:50px;cursor:pointer; font-family: "https://fonts.googleapis.com/css?family=Cinzel";">
      Hello, My name is Monica Mwangi.
      <br/>
      I am currently attending Point Park University. I live in Pittsburgh, Pennsylvania. I am 20 years old.
      <br/>
      I currently am working on my degree on two majors. Cinema Production and Information Technology
      <br/>
      I am proficient in HTML, CSS, JS. Still learning SQL and Python.
    </div>
  </body>
</html>
