<html>
  <body>
    <body style="background-color:purple">
    <div>
    <h1 align="center" style="font-size:50px;cursor:pointer; font-family: "https://fonts.googleapis.com/css?family=Cinzel";">WELCOME</h1>
    <p align="center" style="font-size:45px;cursor:pointer; font-family: "https://fonts.googleapis.com/css?family=Cinzel";">
    <img src="IMG_2637.png" alt="MONICA MWANGI">
      Hello. This is My Home Page.
      <br/>
      Student at Point Park University. From Pittsburgh, PA
      <br/>
      Looking to expand my knowledge as much as I can!
    </div>
  </body>
</html>
