<div class="home-page" data-aos="fade-in">
    <h1 style="color: white; margin-top: 4%;" >WELCOME TO MY HOMEPAGE</h1>
    <form id="HOME" name="HOME" action="/homepage" method="POST">
        <div class="form-group" style="" >
            <input class="form-control" id="Monica" name="Monica" style="width: 200px; text-align: center;" placeholder="This is my homepage. Monica Mwangi" />
        </div>
        <div class="form-group" style="left: 4px;">
            <input type="submit" class="btn btn-dark" />
        </div>
    </form>

    <div class="row" style="float: left; color: white;">
        <div class="col-md-12">
            <h4>SUMMARY: {{ Hello I am 20 years old, currently living in Pittsburgh }}</h4>
            <h4>EDUCATION: {{ CURRENTLY ATTENDING POINT PARK UNIVERSITY }}</h4>
            <h4>MAJORS: {{ DOUBLE MAJOR: CINEMA PRODUCTION AND INFORMATION TECHNOLOGY }}</h4>
            <h4>WORK: {{I AM CURRENTLY WORKING AT BEST BUY FOR GEEK SQUAD}} </h4>
        </div>
    </div>

</div>
